<div class="sidebar">
	<div class="sidebar-scrollable">
		<div class="inner">
			<div class="widget-area">
				{{#if @blog.navigation}}
					{{navigation}}
				{{/if}}
				<!-- <aside class="widget widget-about">
					<h2 class="widget-title">Min Bio</h2>
					<p><img src="{{asset "images/about.png"}}" alt="John Doe" class="about-photo" /></p>
					<p>On the road is about my journey to discovering the ultimate truth</p>
				</aside> -->
				<aside class="widget widget-tags">
					<h2 class="widget-title">Tags</h2>
					<div class="tagcloud"></div>
				</aside><!-- .widget -->
			</div><!-- .widget-area -->
			<a class="sidebar-toggle"><span class="screen-reader-text">Close</span><span class="icon" aria-hidden="true"></span></a>
		</div><!-- .inner -->
	</div><!-- .sidebar-scrollable -->
</div><!-- .sidebar -->
